.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    background: var(--gradient-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
}

.logo {
    position: absolute;
    left: -20.5rem;
    transform: scale(0.06);
}

.langSelector .dropdown-toggle {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    width: 3.5rem;
    height: 2.2rem;
}

.langSelector .dropdown-toggle:hover {
    background-color: var(--subtheme-color);
}

@media (min-width: 700px) {
    .langSelector {
        position: absolute;
        right: 23.4rem;
    }

    .github,
    .huggingface {
        position: absolute;
        right: 9rem;
        border-radius: 4px;
        border: none;
        background-color: white;
        width: 6.5rem;
        height: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .github:hover,
    .huggingface:hover {
        background-color: var(--subdesk-color);
    }

    .huggingface {
        right: 16.2rem;
    }

    .github svg,
    .huggingface svg {
        position: absolute;
        left: 0.5rem;
        height: 1.2rem;
        width: 1.2rem;
        fill: var(--theme-color)
    }

    .github span,
    .huggingface span {
        position: absolute;
        left: 2rem;
        color: var(--theme-color);
        font-weight: bolder;
    }
}

@media (max-width: 699px) {
    .langSelector {
        position: absolute;
        right: 14.8rem;
    }

    .github,
    .huggingface {
        position: absolute;
        right: 9rem;
        border-radius: 4px;
        border: none;
        background-color: white;
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .github:hover,
    .huggingface:hover {
        background-color: var(--subdesk-color);
    }

    .huggingface {
        right: 11.9rem;
    }

    .github svg,
    .huggingface svg {
        position: absolute;
        height: 1.2rem;
        width: 1.2rem;
        fill: var(--theme-color)
    }

    .github span,
    .huggingface span {
        display: none;
    }
}

.title {
    position: absolute;
    left: 0.5rem;
}

button {
    -webkit-app-region: no-drag;
}

.close,
.maximize,
.restore,
.minimize {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.maximize,
.restore {
    right: 3.5rem;
}

.minimize {
    right: 6rem;
}

.close svg,
.maximize svg,
.restore svg,
.minimize svg {
    width: 2.2rem;
    height: 2.2rem;
}

.close:hover {
    background-color: red;
    border-radius: 4px;
}

.maximize:hover,
.restore:hover,
.minimize:hover {
    background-color: var(--subtheme-color);
    border-radius: 4px;
}