:root {
    --board-color: #393939;
    --bar-color: #2e2e2e;
    --title-color: #505050;
    --font-color: #e0e0e0;

    --gradient-color: linear-gradient(to right, rgb(52, 80, 178), rgb(77, 107, 254), rgb(91, 150, 257));
    --theme-color: rgb(77, 107, 254);
    --desk-color: rgb(255, 255, 255);
    --subtheme-color: rgb(52, 80, 178);
}